<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BrumBrum</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='controls.js') }}"></script>
	</head>
	<body>
		<center><h1>BrumBrum</h1></center>	

		<section id="controls">
			<div id="wheel">
				<div id="dot"></div>
			</div>
		</section>
	</body>

</html>